simulateur/src/wsdl/10.162.128.20_15330/DecipherService/JmsBridge.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="StopDeciphering"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="output" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="filename" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="result" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>